@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'MyCustomFont'; /* Choose a name for your font */
  src: local('Fugaz_One'),
    url('./assets/fonts/Fugaz_One/FugazOne-Regular.ttf') format('truetype');
  font-weight: normal; /* Define weight if applicable */
  font-style: normal; /* Define style if applicable */
}
